PROJECT_NAME="FastAPI Google OAuth2 Example"
DATABASE_URL="sqlite:///./app.db"
CLIENT_SECRET="your_client_secret_here"

# OAuth2 Configuration
GOOGLE_CLIENT_ID=878684044957-9sl61pfdh1s0didaucs1qskg0b3u9un2.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

GOOGLE_REDIRECT_URI="http://localhost:8000/auth/callback"
 